[user]
	name = Zach Shipley
	email = zach@zachshipley.com
[alias]
	mine = log --author zach --date local --decorate
	subup = !"git pull; git submodule init; git submodule update; git submodule status"
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[browser "chrome"]
	path = /usr/bin/google-chrome
[browser "firefox"]
	path = /usr/local/firefox/firefox
[branch]
	autosetuprebase = always
[push]
	default = upstream
[merge]
	tool = meld
